<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TCIv3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="c:/logs/nlog.txt" internalLogLevel="Trace" throwexceptions="true">
    <targets>
      <target name="file" xsi:type="File" fileName="\\cwpmapp01.myorangeclerk.net\logfiles$\TrafficCitationImport_3/logs LOCAL/${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${callsite}|${message}|${exception:format=tostring}" archiveFileName="\\cwpmapp01.myorangeclerk.net\logfiles$\TrafficCitationImport_3/logs LOCAL/Archive/${shortdate}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="45" />
      <target name="db" xsi:type="Database" connectionStringName="NLog" commandText="exec dbo.OCCC_NLog_AddEntry @application, @machineName, @logged, @level, @message, @logger,  @properties, @callsite, @exception">
        <parameter name="@application" layout="OCCC_TrafficCitationImport_Refactor" />
        <parameter name="@machineName" layout="${machinename}" />
        <parameter name="@logged" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@properties" layout="${all-event-properties:separator=|}" />
        <parameter name="@callsite" layout="${callsite}" />
        <parameter name="@exception" layout="${exception:tostring}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="db" />
    </rules>
  </nlog>
  <appSettings>
    <add key="TimerInterval" value="60" />    <!--Set in minutes -->
    <add key="DevEnvironment" value="LOCAL" />    <!--LOCAL/DEV/TEST/STAGE/PROD -->
    <add key="Environment" value="Local" />    <!--Local / Server -->
    <add key="DaysToArchive" value="-15" />
    <add key="dataFile" value="\\\\cwtmapp01\\facc\\facc\\traffic\\tcats\\in\\hold" />
  </appSettings>
  <connectionStrings>
    <add name="NLog" connectionString="Data Source=lsnodydev\florangedev;Initial Catalog=OdyClerkInternal;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="OdyClerkInternal" connectionString="Data Source=lsnodydev\florangedev;Initial Catalog=OdyClerkInternal;Integrated Security=True;Persist Security Info=True" providerName="System.Data.SqlClient" />
  <add name="OdyClerkInternalEntities" connectionString="metadata=res://*/CitationImportModel.csdl|res://*/CitationImportModel.ssdl|res://*/CitationImportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lsnodydev\florangedev;initial catalog=OdyClerkInternal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>